<ion-view view-title="init">
  <ion-content ng-controller="initController">
    <div class="list card">
        <div class="item item-reorder"><center><img src="img/techo_logo.png" alt="Techo Guatemala" class="img-responsive" height="200" width="200"><div><h2>Bienvenido/a</h2></div></center>
        <p align="center"> Alguna descripcion relevante</p>
        </div>
        <div class="item item-body" ng-click="sync()">
        <center><a >
	    	<i class="icon ion-ios-loop-strong bigger-4"></i><br/>
	      Sincronizar Encuestas
	    </a></center>       
        </div>
      </div>        
  </ion-content>
</ion-view>