<ion-view view-title="init">
  <ion-content ng-controller="initController" overflow-scroll = "true">
    <div class="list card">
        <div class="item item-reorder">
          <center>
            <img src="img/techo_logo.png" alt="Techo Guatemala" class="img-responsive" height="200" width="200">
            <div><h2>TECHO Survey Mobile System</h2></div>
          </center>
        <p align="center"> TECHO Guatemala</p>
        </div>
        <div class="row item item-body">
          <div class="col" ng-click="sync()">
            <center><i class="icon ion-ios-cloud-download bigger-4"></i><br/>Descargar Encuesta</center>
          </div>
          <div class="col" ng-click="viewSurveys()">
            <center><i class="icon ion-ios-list bigger-4"></i><br/>Comenzar</center>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
