<ion-view view-title="question" ng-controller="questionController">
<ion-header-bar align-title="center" class="bar-positive">
	<div class="buttons">
    	<button class="button icon-left ion-ios-arrow-back button-clear " ng-click="goBack()"></button>
  	</div>
  <h1 class="title">{{section.group_name}}</h1>
</ion-header-bar>
  <ion-content>
  	<div class="list card">
	  <div class="item item-body">
	    <center><p>{{question.question}} <a ng-if="question.mandatory == 'Y'">*</a></p></center>
	  </div>
	  <div class="item item-body">
	  	<form class="css-form" novalidate name="answerForm">
            <div class="list card">
            	<label class="item item-input" ng-if="question.type == 'D'"> <!--DATE-->
		       		<input type="date" ng-model="question.preg">
		       	</label>
		       	<div class="list" ng-if="question.type == 'G'">	 <!--GENDER-->
		       		<ion-radio ng-model="question.preg" ng-value="'M'">Hombre</ion-radio>
					<ion-radio ng-model="question.preg" ng-value="'F'">Mujer</ion-radio>
		       	</div>
		    	<label class="item item-input" ng-if="question.type == 'N'">  <!--NUMBER-->
		       		<input type="number" ng-model="question.preg">
		       	</label>
		       	<div class="list" ng-if="question.type == 'Y'">		       	<!--YES/NO-->
		       		<ion-radio ng-model="question.preg" ng-value="'Y'">Si</ion-radio>
					<ion-radio ng-model="question.preg" ng-value="'N'">No</ion-radio>
		       	</div>
			    <div class="list" ng-if="question.type == 'L'"> <!--RADIO OPTIONS-->
				  <label class="item item-radio" ng-repeat="(key, option) in question.answeroptions">
				    <ion-radio ng-model="question.preg" ng-value="key">{{option.answer}}</ion-radio>
				  </label>
				</div>
				<div class="list" ng-if="question.type == 'O'"> <!--RADIO OPTIONS WITH COMMENTS-->
				  <label class="item item-radio" ng-repeat="(key, option) in question.answeroptions">
				    <ion-radio ng-model="question.preg" ng-value="key">{{option.answer}}</ion-radio>
				  </label>
				  <label class="item item-input">
				  	<input type="text">
				  </label>
				</div>
				<div class="list" ng-if="question.type == '5'"> <!--1 TO 5 -->
				  <ion-radio ng-model="question.preg" ng-value="'1'">1</ion-radio>
				  <ion-radio ng-model="question.preg" ng-value="'2'">2</ion-radio>
				  <ion-radio ng-model="question.preg" ng-value="'3'">3</ion-radio>
				  <ion-radio ng-model="question.preg" ng-value="'4'">4</ion-radio>
				  <ion-radio ng-model="question.preg" ng-value="'5'">5</ion-radio>
				</div>
		       	<label class="item item-input" ng-if="question.type == 'S'"> <!--SIMPLE TEXT-->
		       		<input type="text" ng-model="question.preg">
		       	</label>
		       	<label class="item item-input" ng-if="question.type == 'T'"> <!--TEXT-->
		       		<input type="text" ng-model="question.preg">
		       	</label>
		       	<div class="list" ng-if="question.type == '!'">  <!--DROPDOWN LIST-->
			       	<label class="item item-input item-select">
					    <select>
					      <option selected>Seleccione una opcion</option>
					      <option ng-repeat="answeroption in question.answeroptions">{{answeroption.answer}}</option>
					    </select>
					</label>
				</div>
				<div ng-if="question.type == 'M'">		<!--CHECKBOX-->
					<ion-checkbox ng-repeat="option in question.subquestions" ng-model="option.checked" ng-checked="option.checked"> {{ option.question }}</ion-checkbox>
				</div>
				<div ng-if="question.type == 'P'">      <!--CHECKBOX WITH COMMENTS-->
					<ion-checkbox ng-repeat="option in question.subquestions" ng-model="option.checked" ng-checked="option.checked"> {{ option.question }}</ion-checkbox>
					<label class="item item-input">
						<input type="text">
					</label>
				</div>
				<div ng-if="question.type == 'U'">      <!--GEOLOCATION -->
					  <center><div class="item item-icon ion-ios-plus bigger-2" ng-click="getPosition()"></div></center>
					  <div ng-show="showGpsList" class="item item-text-wrap row" ng-repeat="(index,pos) in gps track by $index">
					  	<div class="col">{{index}}</div>
					    <div class="col col-75">{{gps[index]}}</div>
					  </div>
				</div>
		    </div>
	  </div>
        </form>
		</div>
	  </div>
	</div>
  </ion-content>

	<ion-footer-bar align-title="left" class="bar">
	  <div class="buttons">
	    <button class="button icon-left ion-chevron-left button-clear button-positive" ng-click="prevQuestion()">Anterior</button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="nextQuestion()" ng-if="question.mandatory == 'N' && (question.preg == '' || question.preg != '')">
			<button class="button icon-right ion-chevron-right button-clear button-positive">Siguiente</button>
	  </div>
		<div class="buttons" ng-if="question.mandatory == 'Y' && (question.preg == '' && (question.type != 'M' && question.type != 'P'))">
			<button class="button icon-right ion-chevron-right button-clear">Siguiente</button>
	  </div>
		<div class="buttons" ng-click="nextQuestion()" ng-if="question.mandatory == 'Y' && (question.preg != '' || (question.type == 'M' || question.type == 'P'))">
			<button class="button icon-right ion-chevron-right button-clear button-positive">Siguiente</button>
	  </div>
</ion-footer-bar>
</ion-view>
