<ion-view view-title="question" ng-controller="questionController">
<ion-header-bar align-title="center" class="bar-positive">  
	<div class="buttons">
    	<button class="button icon-left ion-ios-arrow-back button-clear " ng-click="goBack()">volver</button>
  	</div>
  <h1 class="title">{{section.group_name}}</h1>  
</ion-header-bar>
  <ion-content>  
  	<div class="list card">
	  <div class="item item-body">	    	  
	    <center><p>{{question.question}}</p></center>
	  </div>
	  <div class="item item-body">	  
	  	<form class="css-form" novalidate name="answerForm">           
            <div class="list card">                                                     
            	<label class="item item-input" ng-if="question.type == 'D'"> <!--DATE-->		       	
		       		<input type="date" ng-model="question.preg">
		       	</label>
		       	<div class="list" ng-if="question.type == 'G'">	 <!--GENDER-->	       	
		       		<ion-radio ng-model="question.preg" ng-value="'men'">Hombre</ion-radio>
					<ion-radio ng-model="question.preg" ng-value="'women'">Mujer</ion-radio>		       		
		       	</div>		       	
		    	<label class="item item-input" ng-if="question.type == 'N'">  <!--NUMBER-->
		       		<input type="number" ng-model="question.preg">
		       	</label>
		       	<div class="list" ng-if="question.type == 'Y'">		       	<!--YES/NO-->
		       		<ion-radio ng-model="question.preg" ng-value="'yes'">Si</ion-radio>
					<ion-radio ng-model="question.preg" ng-value="'no'">No</ion-radio>
		       	</div>		       	
			    <div class="list" ng-if="question.type == 'L'"> <!--RADIO OPTIONS-->
				  <label class="item item-radio" ng-repeat="option in question.answeroptions">
				    <ion-radio ng-model="question.preg" ng-value="option.aid">{{option.answer}}</ion-radio>
				  </label>
				</div>
				<div class="list" ng-if="question.type == 'O'"> <!--RADIO OPTIONS WITH COMMENTS-->
				  <label class="item item-radio" ng-repeat="option in question.answeroptions">
				    <ion-radio ng-model="question.preg" ng-value="option.aid">{{option.answer}}</ion-radio>
				  </label>
				  <label class="item item-input">
				  	<input type="text">
				  </label>
				</div>
				<div class="list" ng-if="question.type == '5'"> <!--1 TO 5 -->
				  <ion-radio ng-model="question.preg" ng-value="'1'">1</ion-radio>
				  <ion-radio ng-model="question.preg" ng-value="'2'">2</ion-radio>
				  <ion-radio ng-model="question.preg" ng-value="'3'">3</ion-radio>
				  <ion-radio ng-model="question.preg" ng-value="'4'">4</ion-radio>
				  <ion-radio ng-model="question.preg" ng-value="'5'">5</ion-radio>
				</div>
		       	<label class="item item-input" ng-if="question.type == 'S'"> <!--SIMPLE TEXT-->
		       		<input type="text" ng-model="question.preg">
		       	</label>
		       	<label class="item item-input" ng-if="question.type == 'T'"> <!--TEXT-->
		       		<input type="text" ng-model="question.preg">
		       	</label>
		       	<label class="item item-input" ng-if="question.type == 'U'"> <!--HUGE TEXT-->
		       		<textarea rows="3" cols="20" ng-model="question.preg"></textarea>
		       	</label>
		       	<div class="list" ng-if="question.type == '!'">  <!--DROPDOWN LIST-->
			       	<label class="item item-input item-select">					    
					    <select>
					      <option selected>Seleccione una opcion</option>
					      <option ng-repeat="answeroption in question.answeroptions">{{answeroption.answer}}</option>
					    </select>
					</label>
				</div>
				<div ng-if="question.type == 'M'">		<!--CHECKBOX-->		
					<ion-checkbox ng-repeat="option in question.subquestions" ng-model="question.preg" ng-checked="question.preg"> {{ option.question }}</ion-checkbox>				
				</div>
				<div ng-if="question.type == 'P'">      <!--CHECKBOX WITH COMMENTS-->
					<ion-checkbox ng-repeat="option in question.subquestions" ng-model="question.preg" ng-checked="question.preg"> {{ option.question }}</ion-checkbox>
					<label class="item item-input">
						<input type="text">
					</label>
				</div>
		    </div>
	  </div>                         
        </form>	   
		</div>	  		    
	  </div>
	  	<div class="row">
		  <div class="col">	  	
		  	<a class="item item-icon-left positive" ng-click="prevQuestion()">
		        <i class="icon ion-ios-arrow-back"></i>
		        Anterior
    		</a>
    	  </div>
		  <div class="col">	  	
		  	<a class="item item-icon-right positive" ng-click="nextQuestion()">
		        <i class="icon ion-ios-arrow-forward"></i>
		        Siguiente
    		</a>
    	   </div>
		</div>
	</div>
  </ion-content>  
</ion-view>