<ion-view view-title="survey-finale">
  <ion-content ng-controller="endController">
    <div class="list card">
        <div class="item item-reorder"><center><img src="img/techo_logo.png" alt="Techo Guatemala" class="img-responsive" height="200" width="200"><div><h2>Seccion</h2></div></center>
        <p align="center"> Finalizada.</p>
        </div>
        <div class="item item-body" ng-click="begin()">
        <center><i class="icon ion-ios-circle-filled bigger-4"></i><br/>Volver a las secciones</center>       
        </div>
      </div>        
  </ion-content>
</ion-view>