<ion-view view-title="surveys" ng-controller="surveyController">
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button icon-left ion-ios-arrow-back button-clear " ng-click="goBack()"></button>
  </div>
  <h1 class="title">Encuestas</h1>
  <div class="buttons">
    <button class="button icon-left ion-ios-reload button-clear " ng-click="reloadSurveys()"></button>
  </div>
</ion-header-bar>
  <ion-content overflow-scroll = "true">
    <div ng-repeat="survey in surveys | filter: search_survey">
      <div class="list card">
        <div class="item item-avatar">
          <img ng-src="img/techo_logo.png">
          <p class="bold">{{survey.surveyls_title}}</p>
        </div>
        <div class="item item-body">
          <p>{{survey.sid}} | {{survey.surveyls_description}}</p>
        </div>
          <a class="item item-icon-left dark" ng-click="sendData({{survey.sid}})" style="font-size: 12px; padding-left: 45px;">
            <i class="icon ion-ios-cloud-upload dark" style="font-size: 25px"></i>
            Enviar
          </a>
        <a class="item item-icon-right positive" ng-click="viewSections({{survey}})">
          <i class="icon ion-ios-arrow-forward"></i>
          Comenzar encuesta
        </a>
      </div>
    </div>
  </ion-content>

<ion-footer-bar align-title="left" class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar" ng-model="search_survey">
    </label>
    <button class="button button-clear">
      Cancelar
    </button>
</ion-footer-bar>
</ion-view>
