<ion-view view-title="surveys" ng-controller="surveyController">
<ion-header-bar align-title="center" class="bar-positive">  
  <h1 class="title">Encuestas</h1>  
</ion-header-bar>
  <ion-content >
  	<ion-list>
  		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="survey in surveys | filter: search_survey" type="item-text-wrap" ng-click="viewSections({{survey}})">
  			<img ng-src="img/techo_logo.png">
  			<h2>Encuesta</h2>
  			<p>{{survey.sid}}</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>  			
  		</ion-item>
  	</ion-list>
  </ion-content>
<div class="bar bar-footer item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Buscar" ng-model="search_survey">
  </label></div>
</ion-view>