<ion-view view-title="surveys" ng-controller="surveyController">
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button icon-left ion-ios-arrow-back button-clear " ng-click="goBack()"></button>
  </div>
  <h1 class="title">Encuestas</h1>
  <div class="buttons">
    <button class="button icon-left ion-ios-reload button-clear " ng-click="reloadSurveys()"></button>
  </div>
</ion-header-bar>
  <ion-content overflow-scroll = "true">
  	<ion-list>
  		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="survey in surveys | filter: search_survey" type="item-text-wrap" ng-click="viewSections({{survey}})">
  			<img ng-src="img/techo_logo.png">
  			<h2>{{survey.surveyls_title}}</h2>
  			<p>{{survey.sid}} - {{surveyls_description}}</p>
        <i class="icon ion-ios-compose bigger-22"></i>        
        <ion-option-button class="button-calm ion-ios-cloud-upload bigger-2" ng-click="sendData({{survey.sid}})"></ion-option-button>
  		</ion-item>
  	</ion-list>

  </ion-content>
<div class="bar bar-footer item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Buscar" ng-model="search_survey">
  </label>
</div>
</ion-view>
