<ion-view view-title="stadistics" ng-controller="stadisticsController">
<ion-header-bar align-title="center" class="bar-positive">  
  <h1 class="title">{{survey.name}}</h1>  
</ion-header-bar>
  <ion-content>  
  	<div class="list card">
	  <div class="item item-avatar">
	    <img src="img/techo_logo.png">
	    <h2>{{survey.name}}</h2>
	    <p>{{survey.type}}</p>
	  </div>
	  <div class="item item-body">	    
	    <p>
	      	100 Encuestas Completas<br/>
	      	(otros datos relevantes para comenzar una nueva encuesta de tipo: {{survey.type}}) 
	      	<br/>
	      	<h3>Token: {{token}}</h3>
	    </p>	    
	  </div>	  	  
	  <div class="item tabs tabs-secondary tabs-icon-top">
	    <a class="tab-item" href="#/surveys/{{survey.id}}/{{survey.questions[currentQuestion].id}}">
	    	<i class="icon ion-ios-plus-empty"></i>
	      Nueva Encuesta
	    </a>
	  </div>
	</div>
  </ion-content>
</ion-view>