.bigger-4 {
	font-size: 400%;
}

.bigger-2 {
	font-size: 200%;
}

.center {
	align: center;
}

.spinner svg {
  width: 60px;
  height: 60px;
}

i.icon.ion-ios-checkmark.valid {
  color: green;
  padding-right: 5px;
}

i.icon.ion-ios-close.invalid {
  color: red;
  padding-right: 5px;
}
.spinner {
	stroke: #0083A9;
}

.item-body p {
	margin-top: 0px;
}

.item.item-body {
	color:#387ef5;
}

.stado {
	color:#387ef5;
}

a.item.item-icon-right.positive {
	color:#387ef5;
}

.scroll-content {
	background-color: #e5e5e5;
}

.font-brown {
	color: #4B3832;
}
